.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  -webkit-filter: drop-shadow(7px 7px 7px rgb(16, 16, 16));
  filter: drop-shadow(7px 7px 7px rgb(16, 16, 16));
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 1s infinite alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% { transform: rotate(2deg); }
  100% { transform: rotate(-2deg); }
}