body {
  background: #282c34;
}

.App {
  text-align: center;
}

.Pokemon-Image {
  pointer-events: none;
  justify-content: center;
  align-items: center;
  -webkit-filter: drop-shadow(7px 7px 7px rgb(16, 16, 16));
  filter: drop-shadow(7px 7px 7px rgb(16, 16, 16));
  max-width: 70%;
  max-height: 70vh;
  margin-bottom: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .Pokemon-Image {
    animation: App-logo-spin 1s infinite alternate;
  }
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  margin: 0 auto;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  0% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

@font-face {
  font-family: 'Light';
  src: local('PKMN RBYGSC'), url("./fonts/PKMN RBYGSC.ttf") format('truetype');
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .PokeInfo-container {
    animation: fade-in-up 1s;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate(0, 2rem);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.PokeInfo-container {
  width: min(50%);
  text-align: center;
  font-family: "Light";
}

.name-container {
  padding-top: 2%;
  text-align: center;
  font-family: "Light";
  font-size: xx-large;
  text-transform: uppercase;
  margin: 0 auto;
}