.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  -webkit-filter: drop-shadow(7px 7px 7px rgb(16, 16, 16));
  filter: drop-shadow(7px 7px 7px rgb(16, 16, 16));
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 1s infinite alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  0% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

@font-face {
  /* font-family: 'Medium'; */
  /* font-style: oblique;
  text-transform: uppercase; */
  /* src: local('my-font'), url("./fonts/myfont.ttf") format('truetype'); */
  font-family: 'Light';
  src: local('PKMN RBYGSC'), url("./fonts/PKMN RBYGSC.ttf") format('truetype');
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
  text-align: center;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .content-container {
    animation: fade-in-up 1s;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate(0, 2rem);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.content-container {
  width: min(max(50%, 500px), 850px);
  text-align: center;
  font-family: "Light";
}

.name-container {
  width: min(max(50%, 500px), 850px);
  text-align: center;
  font-family: "Light";
  font-size: xx-large;
  /* font-style: oblique; */
  text-transform: uppercase;
}