body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.Pokemon-Image {
  pointer-events: none;
  justify-content: center;
  align-items: center;
  -webkit-filter: drop-shadow(7px 7px 7px rgb(16, 16, 16));
  filter: drop-shadow(7px 7px 7px rgb(16, 16, 16));
  height: max(40%, 30vw);
  margin-bottom: 1%;
}


.placeholder {
    pointer-events: none;
    justify-content: center;
    align-items: center;
    height: max(40%, 30vw);
    width: max(20%, 22vw);
    margin-bottom: 1%;
  }

// .sidenav-container {
//     height: 500px; /* Adjust the height as needed */
//     overflow-y: auto;
//   }
.scrollable-menu {
    overflow-y: auto;
  }

.grid-container {
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto;
}

.grid-container img {
    height: 125%;
    width: 125%;
  }
  
@media (prefers-reduced-motion: no-preference) {
  .Pokemon-Image {
    animation: App-logo-spin 1s infinite alternate;
  }
}


.App-header {
  background: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  margin: 0 auto;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Pokedex-Div {
    justify-content: left;
    align-items: left;
    // width: 10em;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  0% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

@font-face {
  font-family: 'Light';
  src: local('PKMN RBYGSC'), url("./fonts/PKMN RBYGSC.ttf") format('truetype');
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .PokeInfo-container {
    animation: fade-in-up 1s;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate(0, 2rem);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.PokeInfo-container {
  margin-top: 1%;
  width: min(50%);
  text-align: center;
  font-family: "Light";
  word-spacing: 0.15em;
  font-size: max(1vw, 20px);
}

.name-container {
  text-align: center;
  font-family: "Light";
  text-transform: uppercase;
  margin: 0 auto;
}

.type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: max(2.25vw, 30px);

  img {
    width: 10%;
  }
}

.cropped-image {
    width: 400; /* Adjust as needed */
    height: 475; /* Adjust as needed */
    object-fit: cover;
    clip-path: inset(3% 8% 53% 8%);
  }

.flip-container {
    // perspective: 1000px;
    animation: App-logo-spin 1s infinite alternate;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    -webkit-filter: drop-shadow(7px 7px 7px rgb(16, 16, 16));
    filter: drop-shadow(7px 7px 7px rgb(16, 16, 16));
    // height: max(40%, 30vw);
    // margin-bottom: 1%;
    // animation-delay: 0.5s;
}

.flipper {
    position: relative;
    width: 12.5em; /* Adjust the width as needed */
    height: 17.5em; /* Adjust the height as needed */
    transform-style: preserve-3d;
    animation: flip 1s forwards;
    margin-bottom: 1em;  
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    // animation: App-logo-spin 1s infinite alternate;
    // animation-delay: 1s;
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

  